.skills-section {
  padding: 70px 200px;
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(237, 237, 255, 1) 0%, rgba(230, 255, 255, 1) 99%);
}

.skills-title {
  text-align: center;
  font-size: 35px;
  
  animation: 
    MoveIn 0.5s ease-out forwards;

}

.skills-subtitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: large;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  animation: MoveIn 0.5s ease-out forwards;
}

@keyframes MoveIn{
  0%   { 
    opacity: 0.2;
    transform: translateY(20px); 
  }
  50%  {
    opacity: 0.5;
    transform: translateY(-10px); 
  }
  100% { 
    opacity: 1;
    transform: translateY(0); 
  }
}

/* Grid */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  opacity: 0;
  transform: scale(0.9);
  animation: reveal 0.2s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
  /* border: 2px solid black; */
}

/* Card */

.skill-card {
  border: 4px solid #0f172a;
  padding: 20px;
  background: #ffffff;
  box-shadow: 6px 6px 0px #0f172a;
  position: relative;
  transition: all 0.15s steps(2, end);
  animation: 
    fadeUp 0.6s ease forwards;
  opacity: 0;
  transform: translateY(20px);


  /* animation-timeline: view();
  animation-range: entry 0% cover 35%; */
}

.skill-card:nth-child(1) { animation-delay: 0.1s; }
.skill-card:nth-child(2) { animation-delay: 0.2s; }
.skill-card:nth-child(3) { animation-delay: 0.3s; }
.skill-card:nth-child(4) { animation-delay: 0.4s; }
.skill-card:nth-child(5) { animation-delay: 0.5s; }
.skill-card:nth-child(6) { animation-delay: 0.6s; }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal {
   to {
    opacity: 1;
    transform: scale(1.4);
  }
}

/* Pixel hover */

.skill-card:hover {
  transform: translate(-6px, -6px);
  box-shadow:
    6px 6px 0 #0f172a,
    12px 12px 0 #1e293b;
  border-color: skyblue;
}

/* Header */

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-level {
  border: 3px solid #0f172a;
  padding: 4px 8px;
  background: #facc15;
  font-size: 11px;
}

/* XP Bar */

.xp-bar {
  margin-top: 15px;
  height: 14px;
  border: 3px solid #0f172a;
  background: #e5e7eb;
  position: relative;
  overflow: hidden;
}

.xp-fill {
  height: 100%;
  width: 0;
  transform-origin: left;
  animation: fillXp 1.2s ease forwards;
  transform: scaleX(0);
  /* transition: width 0.4s steps(10, end); */
}

.skill-card:nth-child(1) .xp-fill { animation-delay: 0.1s; }
.skill-card:nth-child(2) .xp-fill { animation-delay: 0.2s; }
.skill-card:nth-child(3) .xp-fill { animation-delay: 0.3s; }
.skill-card:nth-child(4) .xp-fill { animation-delay: 0.4s; }
.skill-card:nth-child(5) .xp-fill { animation-delay: 0.5s; }
.skill-card:nth-child(6) .xp-fill { animation-delay: 0.6s; }

@keyframes fillXp {
  to {
    transform: scaleX(1);
  }
}



/* XP text */

.xp-text {
  margin-top: 8px;
  font-size: 13px;
  color: #333;
}

/* Optional scanlines */

.skill-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.04),
    rgba(0, 0, 0, 0.04) 1px,
    transparent 1px,
    transparent 3px
  );
  opacity: 0;
  pointer-events: none;
}

.skill-card:hover::after {
  opacity: 1;
}

.skill-name{
  font-size: larger;
}

@media only screen and (max-width: 1024px){
  body{
    padding: 0;
    margin: 0;
    /* border: 2px solid black; */
  }
  .skills-section{
    padding: 70px 50px;
  }
}